<!DOCTYPE html>
<html lang="en" xmlns:color="http://www.w3.org/1999/xhtml" xmlns:background-color="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta charset="utf-8">
    {% block head %}
        <title>{% block title %}Title!{% endblock %}</title>
    {% endblock %}




    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="http://code.highcharts.com/highcharts.js"></script>
        <script src="static/chart.js"></script>

        <script src="https://code.highcharts.com/modules/exporting.js"></script>
        <script src="https://code.highcharts.com/modules/export-data.js"></script>
        <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    

</head>
<h1>CHART</h1>

<body>
<center>
    <div id= "{{ chart1ID|safe }}" class="chart1" style="height: 300px; width: 800px ;align:'center';"></div>
	<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search.." title="Type in a name">
    <script>
       var chart1_id = {{ chart1ID|safe }}
        var series1 = {{ series1|safe }}
        var title1 = {{ title1|safe }}
        var xAxis1 = {{ xAxis1|safe }}
        var yAxis1 = {{ yAxis1|safe }}
        var chart1 = {{ chart1|safe }}
    </script>
      <P>***********************************************************************************</P>
   </center>
            <br>


    <div id= {{ chart2ID|safe }} class="chart2" style="height: 300px; width: 800px"></div>
     <input type="text" id="myInput1" onkeyup="filterFunction()" placeholder="Filter by Technology">
 <script>
         var chart2_id = {{ chart2ID|safe }}
         var series2 = {{ series2|safe }}
         var title2 = {{ title2|safe }}
         var xAxis2 = {{ xAxis2|safe }}
         var yAxis2 = {{ yAxis2|safe }}
         var chart2 = {{ chart2|safe }}
 </script>
    <br>
<center>
    <p>**********************************************************************************************</p>
    <div id= {{ chart3ID|safe }} class="chart3" style="height: 300px; width: 800px"; colors=""></div>
 <script>
         var chart3_id = {{ chart3ID|safe }}
         var series3 = {{ series3|safe }}
         var title3 = {{ title3|safe }}
          var yAxis3 = {{ yAxis3|safe }}
         var xAxis3 = {{ xAxis3|safe }}
         var chart3 = {{ chart3|safe }}

        </script>

    <br>




    <P>******************************************************************************************************</P>
</center>
<center>
    <div id= {{ chart4ID|safe }} class="chart4" style="height: 300px; width: 800px"></div>
    <script>
         var chart4_id = {{ chart4ID|safe }}
         var series4 = {{ series4|safe }}
         var title4 = {{ title4|safe }}
         var xAxis4 = {{ xAxis4|safe }}
         var yAxis4 = {{ yAxis4|safe }}
         var chart4 = {{ chart4|safe }}
    </script>
        <br>
    </center>
 <hr/>

<center>
    <p>*************************************************************************************************</p>


    <div id= {{ chart5ID|safe }} class="chart5" style="height: 300px; width: 800px";></div>
    <script>
         var chart5_id = {{ chart5ID|safe }}
         var series5 = {{ series5|safe }}
         var title5 = {{ title5|safe }}
         var xAxis5 = {{ xAxis5|safe }}
         var yAxis5 = {{ yAxis5|safe }}
         var chart5 = {{ chart5|safe }}
    </script>

    <br>
    <p>*************************************************************************************************</p>
    </center>
<center>

    <div id= "{{chart6ID|safe }}" class="chart6" style="height: 300px; width: 800px"></div>
    <script>
         var chart6_id = {{ chart6ID|safe }}
         var series6 = {{ series6|safe }}
         var title6 = {{ title6|safe }}
         var yAxis6 = {{ yAxis6|safe }}
         var xAxis6 = {{ xAxis6|safe }}
         var chart6 = {{ chart6|safe }}
         plotOptions = {{ plotOptions|safe }}
         setOptions = {{ setOptions|safe }}
         stackLabels = {{ stackLabels|safe }}
    </script>
    <br>
    </center>

    <p>******************************************************************************************</p>

        

</body>
</html>